*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
}
ul{
    display: flex;
    list-style-type: none;
}
a{
    font-size: 20px;
    font-style: italic;
    font-family: arial;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    padding: 15px 25px;
  display: inline-block;
}
#course{
    background-color: red;
    color: white;
    padding: 30px 20px;
}
